body {
  font-family: 'Bree Serif'; font-size: 32px;
  margin: 0;
  background-color: #c0d2e1;
}

a {
  font-family: 'Pacifico'; font-size: 40px;
  text-decoration: none;
}

.site-title{
  font-size: 36px;
  color: black;
  background-color: #1E90FF;
  text-align: center;
  padding: 10px;
  margin: 0;
}

.mood-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #800080;
  color: #fff;
  border: 3px solid #800080;
  text-align: center;
}

.box-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.box {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 3px solid #9A19C4;
  border-radius: 5px;
  color: #fff;
  background-color: #8A2BE2;
}

.box_header{
  text-decoration: none;
  padding-bottom: 0;
  font-size: 28px;
}

.box-content {
  font-size: 20px;
  flex: 1 1 80%;
  margin-left: 10px;
}

.box-content p {
  margin: 0;
}

.box-content .box-link{
  color:#fff;
}

.box-link:hover{
  color: #ef1065;
}

.box-content .box-image {
  margin: 5px;
  height: 200px;
  width: 300px;
  margin-left: 10px;
  margin-right: 10px;
}
