<button type="button" id="create-box-button"><i class="fa fa-bullhorn"></i></button>

<div id="modal-backdrop" class="hidden"></div>
<div id="create-box-modal" class="hidden">
  <div class="modal-dialog">

    <div class="modal-header">
      <h3>Create a Mood Box!</h3>
      <button type="button" class="modal-close-button">&times;</button>
    </div>

    <div class="modal-body">
      <div class="box-input-element">
        <label for="box-title-input">Box title:</label>
        <textarea id="box-title-input"></textarea>
      </div>

      <div class="box-input-element">
        <label for="box-description-input">Box description:</label>
        <textarea id="box-description-input"></textarea>
      </div>

      <div class="box-input-element">
        <label for="box-title-input">Box title link:</label>
        <textarea id="box-link-input"></textarea>
      </div>

      <div class="box-input-element">
        <label for="box-photoURL-input">Photo URL:</label>
        <textarea id="box-photoURL-input"></textarea>
      </div>

    <div class="modal-footer">
      <button type="button" class="modal-cancel-button">Cancel</button>
      <button type="button" class="modal-accept-button">Create Mood Box</button>
    </div>

  </div>
</div>
</body>
<script src="/index.js" charset="utf-8"></script>

</html>
