<article class="mood_box">
  <div class="box-content">
    <p class="box_header"><strong><a class="box-link" href="{{titleLink}}" target="_blank">{{title}}</a></strong></p>
    <p class="box-text">
        {{description}}
    </p>
    <img class="box-image" src="{{photoURL}}">
  </div>
</article>
