body {
  font-family: Helvetica, sans-serif;
  margin: 0;
  background-color: #c0d2e1;
}

a {
  text-decoration: none;
}

.site-title {
  margin: 0;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 100;
  background-color: #1e496b;
  color: #fff;
  border: 3px solid #1b374f;
}

.box-container {
  margin: 50px 10%;
  display: flex;
  flex-wrap: wrap;
}

.mood_box {
  flex: 0 1 28%;
  display: flex;
  margin: 2px;
  padding: 20px;
  border: 3px solid #1b374f;
  border-radius: 5px;
  color: #fff;
  background-color: #1e496b;
}

.box_header{
  text-decoration: none;
  padding-bottom: 3px;
  font-size: 20px;
}

.box-content {
  flex: 1 1 80%;
  margin-left: 10px;
}

.box-content p {
  margin: 0;
}

.box-content .box-attribution {
  margin-top: 8px;
  text-align: right;
  font-weight: bold;
}
