<body>
  <header>
    <a href="#"><h1 class="site-title"><i class=""></i>Moody Sites</h1></a>
    <a href="#"><h1 class="mood-title">What are you feeling?</h1></a>
  </header>

  <main class="box-container">

<div class="search-bar">
    <input type="text" id="search-input" placeholder="Search...">
    <button type="button" id="search-button"><i class="fa fa-search"></i></button>
</div>

    <article class="moodButtons hidden">
      <div class="box-content">
        <a href="/moods/bored">
          <button class="thebuttons" id="bored" type="bored">Bored</button>
        </a>
      </div>
    </article>

    <article class="moodButtons hidden">
      <div class="box-content">
        <a href="/moods/funny">
          <button class="thebuttons" id="funny" type="funny">Funny</button>
        </a>
      </div>
    </article>

    <article class="moodButtons hidden">
      <div class="box-content">
        <a href="/moods/hungry">
          <button class="thebuttons" id="hungry" type="hungry">Hungry</button>
        </a>
      </div>
    </article>

    <article class="moodButtons hidden">
      <div class="box-content">
        <a href="/moods/lonely">
          <button class="thebuttons" id="lonely" type="lonely">Lonely</button>
        </a>
      </div>
    </article>

  </main>

</body>
